.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  label {
    font-weight: 600;
    font-size: 0.875rem;
  }

  input {
    width: 100%;
  }
}
